* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000000;
}

.scene-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* MODIFIED: The gradient background */
.background-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  /* 
    Change z-index to 1. This places it above the container's base layer,
    but below our canvas which we've set to z-index: 2.
  */
  z-index: 1; /* <-- IMPORTANT CHANGE */
  opacity: 0;
  
  background: radial-gradient(
    circle at 50% 40%,
    #ffffff 0%,
    #a8c0ff 50%,
    #ffbadd 100%
  );
}